.ticket-box:hover .ticket-title, .ticket-box:hover .ticket-number {
	text-decoration: underline;
}
.ticket-box .ticket-title {
	float: left;
	width: 115%;
	text-transform: uppercase;
	text-align: left;
	font-size: 1em;
	font-weight: 700;
	margin-top: -10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -15px;
	padding-left: 15px;
	overflow: block;
}
.ticket-box .ticket-number {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 1.75em;
	font-weight: 100;
}
.ticket-box .ticket-percent {
	float: left;
	width: 100%;
	text-align: right;
	color: #fff;
	font-size: 2.75em;
	font-weight: 700;
	margin-top: -15px;
	margin-bottom: -13px;
}

.nothing-ticket .ticket-title {
	background-color: #94CF88;
}
.issue-ticket .ticket-title {
	background-color: #EEE16F;
}
.warning-ticket .ticket-title {
	background-color: #FF9B98;
}
.nav .nothing {
	background-color: #70BF60;
}
.nav .issue {
	background-color: #E8D73F;
}
.nav .warning {
	background-color: #FF7A75;
}
.ticket-header-number {
	width: 100%;
	float: left;
	font-size: 2.5em;
	margin-bottom: 0;
	margin-top: 15px;
}
.ticket-header-title {
	width: 100%;
	float: left;
	font-weight: 300;
	margin-top: -10px;
}
#tickets {
	margin-bottom: 15px;
}
.madSkillz {
	width: 100%;
}

.h2-title {
	background-color: #323332;
	color: #fff;
	margin-top: -30px;
	margin-left: -22px;
	padding-left: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #535453;
}
.h2-title .number {
	float: left;
	font-size: 2.8em;
	font-weight: 100;
	width: 100%;
}
.h2-title .tickets {
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	color: #DCDEDC;
	width: 100%;
	margin-top: -10px;
	padding-bottom: 10px;
}
.h2-title .ticket-nav {
	padding-top: 15px;
}
.h2-title .ticket-nav .ticket {
	float: left;
	padding: 10px 15px;
	border: 1px solid #535453;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 1.2em;
	transition: ease all 0.3s
}
.h2-title .ticket-nav .ticket:hover {
	background-color: #535453;
	cursor: pointer;
	transition: ease all 0.3s
}
.h2-title .ticket-nav .active {
	color: #4CBB36;
}
.h2-title .ticket-nav .issue {
	color: #FFBB35;
}
.h2-title .ticket-nav .warning {
	color: #FF7A75;
}
.h2-title .ticket-nav .notification {
	position: absolute;
	background-color: #FFBB35;
	color: #323332;
	font-size: 0.75em;
	font-weight: 700;
	top: 8px;
	padding: 0px 5px;
	border-radius: 50%;
	transition: 0.5s ease all;
}
.h2-title .ticket-nav .ticket:hover .notification {
	top: 2px;
	transition: 0.5s ease all;
}
.h2-left {
	margin-left: -30px;
	height: 700px;
	overflow: visible;
	overflow-y: auto;
}
.h2-left .atm-info {
	background-color: #242424;
	color: #fff !important;
	padding: 10px;
	transition: 0.3s ease all;
}
.h2-left .atm-info:hover {
	background-color: #535453;
	cursor: pointer;
	transition: 0.3s ease all;
}
.h2-left .atm-info .title, .h2-left .atm-info .address {
	width: 100%;
	float: left;
}
.h2-left .atm-info .title {
	font-size: 1.2em;
}
.h2-left .atm-info .address {
	font-size: 0.8em;
	color: #B1B3B1;
}
.h2-left .atm-info .description {
	padding-top: 15px;
}
.h2-left .atm-info .description span {
	text-transform: uppercase;
	padding-top: 20px;
	font-size: 0.8em;
	font-weight: 700;
}
.h2-left .atm-info .description .active {
	color: #ffbb35;
}
.h2-left .atm-info .description .active i {
	color: #4CBB36;
}
.h2-left .atm-info .description .warning {
	color: #FF7A75;
}
.h2-left .atm-info .description i {
	padding-right: 10px;
}
.h2-left .atm-info .ticket {
	font-size: 2em;
	padding-top: 5px;
}
.h2-right {
	width: 545px;
	margin-left: -46px;
}



/* MAP */
#map_wrapper {
	height: 700px;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Lato' !important;	
}
.cursor:hover {
	cursor = pointer;
}

#extCam {
	height: 50px;
	width: 100px;
	float: right;
	margin-right: 20px;
}

.aft-not {
	display: none;
}
